*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: aliceblue;
}
.box{
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    column-gap: 50px;
    justify-content: center;
}
.card{
    width: 280px;
    height: 280px;
    margin: 50px;
}
.card button{
    display: inline-block;
    margin: 20px;
}
img{
    width: 80%;
     height: 80%;
} 
.search{
    width: 200px;
    height: 30px;
    font-size: 25px;
}